@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700;900&family=Ubuntu:wght@300&family=Work+Sans:wght@300&display=swap');
@keyframes slideInLeft {
    from {
        transform: translateX(500px);
    }

    to {
      transform: translateX(0);
    }
  }
body {
    font-family: 'Work Sans', sans-serif;
    background-color: rgb(233, 230, 248);
    margin: 0;
}

#creamy-cajun-chicken {
    padding-left: 0px;
   }

a:hover {
background: #6baaf1;
}
.five-stars{
    padding-top: 25px;

}
nav {
    background: rgb(155, 187, 245);
    border: 1px black;
    padding: 30px;
    margin: 0px;
}

.recipe {
    border: 1px solid black;
    margin: 0px;
    background: rgb(174, 240, 240);
}
.items {
    padding: 10px 100px 0px 0px;

}

.list {
    padding-left: 20px;

}
.grid-container {
    display: inline-flex;
}

img {
    height: 200px;
}
.img1 {
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;

    transform: translateX(0px);
}
.img2 {
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    animation-name: slideInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;

    transform: translateX(0px);
}
.img3 {
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    animation-name: slideInLeft;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;

    transform: translateX(0px);
}
.img4 {
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    animation-name: slideInLeft;
    animation-duration: 3.5s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;

    transform: translateX(0px);
}
.img5 {
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    animation-name: slideInLeft;
    animation-duration: 4s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;

    transform: translateX(0px);
}
h1 {
    color: rgb(88, 72, 211);
    padding-left: 20px;

}
h2 {
    text-decoration-line: underline;
    color: rgb(66, 80, 80);
}
h3:hover {
    background: #808080;
}
h3 {
    color: rgb(223, 226, 226);
    text-shadow: 0 0 3px #cdffde, 0 0 5px #91ffe7;
}
a {
    color: black;
    text-decoration: none;
}
footer {
    margin-top: 200px;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 30px;
    background: rgb(155, 187, 245);
    border: 1px solid black;

}

tr:nth-child(even) {
    background: rgb(168, 164, 164);
}

tbody {
    color: rgb(39, 39, 39);
}

.ingredients {
    padding-left: 20px;
}
